body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item {
    /*display: table;*/
    justify-content: center;
    border: 16px black;
    padding: 8px;
    margin: 24px;
    min-width: auto;
    border-radius: 8px;
    row-gap: 8px;
    box-shadow: 8px 4px 16px black;
}