.App {
    text-align: center;
    font-family: "JetBrainsMono NF SemiBold"
}

h1 {
    margin-top: 20px;
}

.board {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
}

.row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    padding: 0;
    margin: 1px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 22px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px black;
    text-shadow: 1px 1px 6px black;
}

.mine {
    background-color: red;
    font-size: 26px;
    font-weight: bolder;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
}

.closed {
    background-color: dimgray;
}

.icoBox {
    height: 50px;
    min-width: 50px;
    background-color: inherit;
    border: inherit;
    font-size: 20px;
    -webkit-text-fill-color: black;
    display: inline;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 6px black;
    border-radius: 8px;
}

.flagBox {
    font-weight: bolder;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
}

.flag {
    background-color: yellow;
    font-size: 20px;
}

.badFlag {
    background-color: orange;
    font-size: 20px;
}

.flagBombWin {
    background-color: lime;
    font-size: 20px;
}
