.SnakeGame {
    box-sizing: border-box;
}

html, body {
    font-family: Helvetica, san-serif;
}

.grid {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.grid-cell {
    border: 1px solid black;
    background-color: dimgray;
    box-shadow: 2px 2px 4px black;
    margin: 1px;
    border-radius: 4px;
}

.grid-cell--food {
    background-color: lime;
}

.grid-cell--snake {
    background-color: orange;
}

.snake-app {
    position: relative;
    margin: 10px auto;

    &:focus {
        outline: none;
    }
}

.snake-app__overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
}


.mb-1 {
    margin-bottom: 1rem;
}

button {
    background-color: blue;
    color: white;
    border-radius: 3px;
    border: 2px solid blue;
    padding: .75rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0 10px black;

}