.App {
    text-align: center;
    font-family: "JetBrainsMono NF SemiBold";
}

.towers {
    width: auto;
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
}

.tower {
    width: auto;
    min-width: 150px;
    max-width: 400px;
    height: 350px;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
}

.pole {
    width: 10px;
    height: inherit;
    display: flex;
    background-color: #282c34;
}

.selected {
    background-color: lightgray;
}

.disk {
    height: 50px;
    margin-top: 5px;
    text-align: center;
    padding: 0;
    justify-content: center;
    font-size: 28px;
    -webkit-text-fill-color: azure;
    -webkit-text-stroke: 1px black;
    border-radius: 4px;
    box-shadow: 6px 3px 6px black;
    text-shadow: -2px -1px 2px black;
}

.towerSizeChange {
    height: 50px;
    width: 50px;
    background-color: inherit;
    border: inherit;
    font-size: 20px;
    -webkit-text-fill-color: black;
    display: inline;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 6px black;
    border-radius: 8px;
}

.rmValue {
    padding: 0;
    margin: 0;
    width: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 8px;
}

.addValue {
    width: 25px;
    padding: 0;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 8px;
}
